@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');


* {
    padding: 0;
    margin: 0;
}

.container-fluid {
    width: 100%;
    height: auto;
    font-family: 'Noto Sans TC', sans-serif;
    padding: 0;
    list-style-type: none;
    letter-spacing: 1px;
    color: #303030;
}

img {
    width: 100%;
    height: auto;
}

/* ---------Header--------- */

/* Banner */

/* .header{
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background: url(../picture/Banner.png) no-repeat;
} */

.carousel-inner{
    border-radius: 50%;
    border-radius: 40% 10% / 10% 40%;
    overflow: hidden;
    
}

.carousel{
    background-color: #b59962;
    height: 930px;
}

.carousel-item img{
    width: 100%;
    height: 900px;
    object-fit: cover;
}

/* 導覽列 */

.navbar-toggler {
    display: none;
}

.navbar {
    margin-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

.navbar a {
    color: white;
    font-size: 18px;
}

.navbar-brand p {
    color: white;
    font-size: 30px;
}

.nav-link:hover,
.nav-link:active {
    color: #b59962
}

.dropdown-menu li a {
    color: #303030;
    font-size: 16px;
}



#section10 {
    background: url(https://picsum.photos/1200/800?image=516) center center / cover no-repeat;
}

#section10 a {
    padding-top: 60px;
}

#section10 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 30px;
    height: 50px;
    margin-left: -15px;
    border: 2px solid #fff;
    border-radius: 50px;
    box-sizing: border-box;
}

#section10 a span::before {
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: sdb10 2s infinite;
    animation: sdb10 2s infinite;
    box-sizing: border-box;
}

@-webkit-keyframes sdb10 {
    0% {
        -webkit-transform: translate(0, 0);
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    80% {
        -webkit-transform: translate(0, 20px);
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes sdb10 {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    80% {
        transform: translate(0, 20px);
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

/* ---------content--------- */
.content {
    width: 100%;
    padding-top: 100px;
    /* border: 2px solid red; */
}


.introduce, .brand, .special, .blog{
    width: 100%;
    text-align: center; 
}

.brand, .special, .blog{
    margin: 150px auto;
}

.introduce p, .brand p, .special p {
    font-family: 'Times New Roman', Times, serif;
}

.brand h3, .special h3, .blog .col-2 h3{
    font-size: 24px;
    padding: 0;
}

/* ---------about--------- */

.about {
    width: 80%;
    margin: 0 auto;
}

.about .row {
    width: 80%;
    margin: 0 auto;

}

.about .row .col-1 h3,
.about .row .col-9 h3 {
    writing-mode: vertical-lr;
    font-size: 24px;
    letter-spacing: 2px;
}

.about .row .col-9 .mt-4,
.about .row .col-9 .mt-4 li {
    text-align: left;
    font-size: 16px;
    font-weight: medium;
}

/* ---------Special Seclect--------- */
.special-title{
    display: inline-block;
    background-color: #b3b3b3;
}

.special-list{
    background-color: #ded1b9;
    position: relative;
    z-index:-1;
    margin: -50px auto 0;
    width: 80%;
    padding: 100px 50px 80px;
}

.special-pic img{
    width: 50%;
}





/* ---------brand introduce--------- */
.brand-list{
    width: 100%;
}

/* fliter輪播 */

.brand-select{
    border: 1px solid #b59962;
    padding: 5px;
}

.slick {
  width:60%;
}

.slick .slide {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10px;
}

.slick-prev:before,
.slick-next:before
{
    color: #b59962;
}

#myslides {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}


#myslides li a:hover:not(.header) {
    opacity: .8; /* Add a hover effect to all links, except for headers */
}


/* ---------blog--------- */
.blog{
    width: 80%;
}
.blog .col-2, .blog .col-8{
}

.blog .col-2 h2{
    color: #b59962;
}

.blog .col-2 h3{
    writing-mode: vertical-lr;
    display: inline-block;
}

.blog .col-8 img{

}

.blog .col-8 a{
    text-decoration: none;
    color: #303030;
    padding: 20px 70px;
    background-color: #ded1b9;
    text-align: left; 
}

.blog .col-8 a:hover{
    opacity: .8;
}